services:
  app:
    build:
      context: ./
    restart: always
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      DCtoken: ${DCtoken}
      uptimeUrl: ${uptimeUrl}
