services:
  app:
    build:
      context: ./
    restart: always
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      DCtoken: ${DCtoken}
      uptimeUrl: ${uptimeUrl}
      redisHost: redis
  redis:
    image: redis
    restart: always
    expose:
      - 6379